.header__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  margin-top: 144px;
}

.header__logo{
  font-size: 26px;
  font-weight: 700;
}

.header__changebtn{
  font-family: 'Space Mono', monospace;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  height: 20px;
  letter-spacing: 2.5px;
  padding: 0px 36px 0px 0px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
  transition: .3s;
}

/*Arrumar uma forma para tbm mudar a cor no svg
.header__changebtn:hover{
 color: #90A4D4 !important;
} 
*/

/* form */ 

.header__form{
  position: relative;
}

.header__form #username{
  font-family: 'Space Mono', monospace;
  box-sizing: border-box;
  border: none;
  min-width: 100%;
  padding: 22px 0px 22px 80px;
  border-radius: 15px;
  height: 69px;
  line-height: 1.388;
  font-weight: 400;
  font-size: 18px;
}

.header__form #username::placeholder{
  color: inherit;
}

.header__form::before{
  position: absolute;
  top: 23px;
  left: 32px;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icon-search.svg");
  display: block;
  background-size: cover;
}

.header__searchbtn{
  right: 10px;
  top: 9.5px;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 16px;
  position: absolute;
  padding: 12px 24px;
  background-color: #0079FF;
  color: #fff;
  border-radius: 10px;
  z-index: 2;
  cursor: pointer;
  transition: .3s;
}


.header__searchbtn:hover{
  background-color: #60ABFF;
}

.search__error{
  position: absolute;
  top: 24px;
  right: 140px;
  color: #F74646;
  font-size: 15px;
  font-weight: 700;
}

@media (max-width:768px){

  .header__form::before{
    top: 20px;
    left: 16px;
    width: 20px;
    height: 20px;
  }
  .header__form #username{
    font-size: 13px;
    line-height: 1.923;
    padding: 18px 0px 18px 45px;
    height: 60px;
  }

  .header__searchbtn{
    top: 7.5px;
    font-size: 14px;
    padding: 12px 16px;
  }
  .search__error{
    top: 18px;
    right: 110px;
  }
}

@media (max-width:500px){
  .search__error{
    top: -25px;
    right: 5px;
  }
}

@media (max-width:1000px){
  .header__top{
    margin-top: 31px;
  }
}