.searchresult__container {
  background-color: #1E2A47;
  margin-top: 24px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
  padding: 44px 48px;
  align-items: center;
}

.searchresult__userlogo {
  border-radius: 50%;
  grid-row: 1/-1;
}

.searchresult__top {
  display: flex;
  justify-content: space-between;
}

.searchresult__nickname {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}

.searchresult__id {
  color: #0079FF;
}

.searchresult__joindate {
  font-size: 15px;
  color: #FFFFFF;
}

.searchresult__description {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.666;
  max-width: 56ch;
  color: #FFFFFF;
  grid-column: 2;
}

@media (max-width:800px) {
  .searchresult__container {
    grid-template-columns: auto 1fr;
    gap: 0px 37px;
    grid-template-rows: unset;
  }

  .searchresult__top {
    padding: 12px 0px 14px;
    display: flex;
    flex-direction: column;
    justify-content: unset;

  }

  .searchresult__description {
    grid-column: 1/-1;
    margin-top: 24px;
  }
}

@media (max-width:600px) {
  .searchresult__container {
    padding: 32px 24px 48px;
    gap: 0px 19px;
  }

  .searchresult__nickname {
    font-size: 16px;
  }

  .searchresult__description,
  .searchresult__joindate,
  .searchresult__id {
    font-size: 13px;
  }

  .searchresult__userlogo {
    width: 70px;
    height: 70px;
  }

  .searchresult__top {
    padding: 0px;
  }
}